@tailwind base;
@tailwind components;
@tailwind utilities;

.select-form,
.input-form,
.textarea-form {
    @apply block w-full rounded-md border-0 py-2 text-gray-800  ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600  sm:leading-6 disabled:bg-gray-200;
}
.input-radio {
    @apply h-4 w-4 border-primary-700 text-primary-700 focus:ring-primary-800;
}
.input-checkbox {
    @apply h-4 w-4 rounded border-primary-700 text-primary-700 focus:ring-primary-800;
}
.input-label {
    @apply block font-medium text-sm text-gray-700;
}
.title {
    @apply text-lg leading-6 font-semibold;
}
.btn {
    @apply px-3 py-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-base font-medium transition-colors focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50;
}
.btn-primary {
    @apply focus-visible:ring-1 focus-visible:ring-neutral-950  bg-primary-700 text-white hover:bg-primary-600 active:bg-primary-800 active:text-white/80;
}
.btn-orange {
    @apply px-4 py-2 text-lg inline-flex items-center justify-center whitespace-nowrap rounded-full font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-neutral-950 disabled:pointer-events-none disabled:opacity-50
    bg-white text-orange-500 hover:bg-orange-500 hover:text-white active:bg-orange-500 active:text-white/80 border-2
     border-orange-500;
}
.btn-danger {
    @apply px-3 py-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-base font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-neutral-950 disabled:pointer-events-none disabled:opacity-50 bg-red-600 text-white hover:bg-red-700 active:bg-red-700 active:text-white/80;
}

.btn-secondary {
    @apply px-3 py-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-base font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-neutral-950 disabled:pointer-events-none disabled:opacity-50 bg-white text-primary-600 hover:text-primary-500 active:text-primary-700 border border-primary-600;
}
.bg-primary {
    @apply bg-primary-700/70;
}
.gradient-primary {
    @apply bg-gradient-to-l from-primary-700/80  to-primary-800/80;
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.py-section {
    @apply py-14 md:py-20 lg:py-24;
}
.title-section {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold;
}
